* {
  font-family: 'Comfortaa', cursive;
}

/* [type='file'] {
  font-family: 'Indie Flower', cursive;
} */

h1 {
  font-family: 'Zilla Slab Highlight', cursive;
}

body {
  /* font-family: sans-serif; */
  background-color: rgba(245, 255, 233, 0.925);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.inputImgForm {
  background-image: linear-gradient(to right, #093028, #237a57);
  border-radius: 20px;
  margin-right: 1em;
  color: white;
}

.imagesDiv {
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
}

/* #hide input[type='file'] {
  display: none;
}
#hide input[type='file'] + label {
  display: inline-block;
  margin: 20px;
  padding: 4px 32px;
  background-color: #ffffff;
  border: solid 1px #666f77;
  border-radius: 6px;
  color: #666f77;
}
#hide input[type='file']:active + label {
  background-image: none;
  background-color: #2d6c7a;
  color: #ffffff;
} */

.uploadImg {
  max-width: 50vw;
  max-height: 30vh;
  margin-right: 1rem;
}

.imgPredictions {
  width: 40vw;
  border: dashed grey;
  padding-left: 2rem;
}

#dish {
  max-width: 50vw;
  max-height: 30vh;
  align-self: center;
  padding-top: 2rem;
}

/* Header */
#Header {
  margin: 0rem;
  background-image: linear-gradient(to right, #00bf8f, #001510);
  padding: 0.5rem 0rem 0rem 0.5rem;
  text-align: center;
  color: white;
  text-shadow: 0px 4px 4px black;
  border-radius: 10px;
}
#mainApp {
  padding: 0rem 0rem 0rem 1rem;
}

#description {
  width: 80vh;
}

#imgPred {
  display: flex;
}
/* Recipes */
.entryRecipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.oneRecipe {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: solid rgba(128, 128, 128, 0.842);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 17px;
  box-shadow: 6px 10px 2px 1px #00000052;
}

/* Footer */

/* .footer {
  position: fixed;
  width: 100vw;
  background-color: peachpuff;
  left: 0;
  bottom: 0;
} */
#Resources {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Clarifai {
  max-height: 30px;
}
